<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="methods">
  <test name="Test">
    <classes>
      <class name="Tests2.Test9_6_Offerzone_HomeKitchen"/>
      <class name="Tests4.Test16_2_NewsLinkTimesOfIndia"/>
      <class name="Tests4.Test13_8_FooterFeedback"/>
      <class name="Tests4.Test15_2_SEOFooterTopBrandsCategories"/>
      <class name="Tests4.Test15_1_SEOFooterTopSearches"/>
      <class name="Tests2.Test9_5_Offerzone_WomensFashion"/>
      <class name="Tests2.Test9_3_Offerzone_Electronics"/>
      <class name="Tests4.Test13_7_FooterSitemap"/>
      <class name="Tests3.Test11_18_AddToWishlistFromEmail"/>
      <class name="Tests2.Test10_5_Trending_WomensFashion"/>
      <class name="Tests4.Test13_5_FooterFAQ"/>
      <class name="Tests4.Test16_1_NewsLinkYourStory"/>
      <class name="Tests4.Test12_1_2_ProductSearchSortButtonLowHighPopular"/>
      <class name="Tests4.Test12_5_6_PriceHistorySidebarProducts"/>
      <class name="Tests3.Test11_10_MyAlertsSubscriptionSaveChanges"/>
      <class name="Tests.Test2_4_CouponsIcon"/>
      <class name="Tests.Test4_5_FB_Popup_Window"/>
      <class name="Tests.Test2_1_SearchButton"/>
      <class name="Tests4.Test13_6_FooterContact"/>
      <class name="Tests1.Test7_4_SelectDeselectFilters"/>
      <class name="Tests1.Test6_6_CategoryCoupon"/>
      <class name="Tests1.Test7_2_TrendingChecked"/>
      <class name="Tests3.Test11_4_ProductMultipleImages"/>
      <class name="Tests.Test2_2_ProductsIcon"/>
      <class name="Tests3.Test11_14_PeopleLookingFor"/>
      <class name="Tests2.Test9_7_Offerzone_KidsToys"/>
      <class name="Tests3.Test11_25_SimilarProductsOpening"/>
      <class name="Tests1.Test6_7_CategorySeeCoupon"/>
      <class name="Tests3.Test11_16_PostFacebook"/>
      <class name="Tests.Test5_6_PopularProducts"/>
      <class name="Tests.Test5_9_ViewAllLinks"/>
      <class name="Tests3.Test11_5_BuyFromMerchant"/>
      <class name="Tests2.Test10_7_Trending_KidsToys"/>
      <class name="Tests.Test5_5_MiniCarousals"/>
      <class name="Tests.Test5_3_AndroidIOSButtons"/>
      <class name="Tests3.Test11_8_SpecificationsPriceTrends"/>
      <class name="Tests1.Test7_1_DealsPage"/>
      <class name="Tests4.Test13_3_FooterPrivacy"/>
      <class name="Tests.Test5_2_ShopByCategories_Link"/>
      <class name="Tests2.Test10_3_Trending_Electronics"/>
      <class name="Tests1.Test8_1_AskQuestion"/>
      <class name="Tests4.Test13_4_FooterTerms"/>
      <class name="Tests1.Test6_4_SeeCouponButton"/>
      <class name="Tests3.Test11_22_ProductPageAndroidIOSButtons"/>
      <class name="Tests2.Test10_4_Trending_MensFashion"/>
      <class name="Tests4.Test13_9_FooterMobileApp"/>
      <class name="Tests3.Test11_2_SortButton_Popular_Low_High"/>
      <class name="Tests2.Test10_2_Trending_Mobiles"/>
      <class name="Tests2.Test9_4_Offerzone_MensFashion"/>
      <class name="Tests.Test2_3_DealsIcon"/>
      <class name="Tests.Test4_4_FB_NewAccountButton_Clickable"/>
      <class name="Tests3.Test11_1_CategoryProductPage"/>
      <class name="Tests.Test4_1_FB_Login_Logout"/>
      <class name="Tests2.Test9_2_Offerzone_Mobiles"/>
      <class name="Tests4.Test15_3_SEOFooterTopDealsOffers"/>
      <class name="Tests.Test5_1_Quicklinks"/>
      <class name="Tests3.Test11_3_ProductNameClickable"/>
      <class name="Tests.Test4_2_FB_Logout_Homepage"/>
      <class name="Tests4.Test13_2_FooterJobs"/>
      <class name="Tests1.Test6_5_ViewAllCategories"/>
      <class name="Tests.Test5_7_HotDeals"/>
      <class name="Tests1.Test6_2_ViewAllStores"/>
      <class name="Tests1.Test6_1_CouponsLink"/>
      <class name="Tests4.Test12_3_4_ProductsClickableAndRedirection"/>
      <class name="Tests3.Test11_9_AddToWishlistFromFB"/>
      <class name="Tests3.Test11_21_ShareFBTwitterPinterestGoogle"/>
      <class name="Tests4.Test13_1_FooterAboutUs"/>
      <class name="Tests2.Test9_1_Offerzone_All"/>
      <class name="Tests4.Test16_4_NewsLinkInc42"/>
      <class name="Tests.Test5_4_Carousals"/>
      <class name="Tests4.Test16_3_NewsLinkNextBigWhat"/>
      <class name="Tests2.Test10_6_Trending_HomeKitchen"/>
      <class name="Tests3.Test11_17_CheckboxAlsoPostOnFB"/>
      <class name="Tests3.Test11_7_ComparePriceButton"/>
      <class name="Tests.Test5_8_FeaturedProducts"/>
      <class name="Tests.Scandid_Logo"/>
      <class name="Tests.Test4_3_FB_Checkbox_Clickable"/>
      <class name="Tests1.Test6_3_CouponClickable"/>
      <class name="Tests1.Test7_3_TrendingDealsClickable"/>
      <class name="Tests2.Test10_1_Trending_All"/>
      <class name="Tests3.Test11_6_VisitStoreButton"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
